

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="/script/script.js"></script>
<script src="/script/movieScript.js"></script>
<script src="/script/searchPageScript.js"></script>
<script src="/script/registerPageScript.js"></script>
<script src="/script/favouritePageScript.js"></script>
</body>
</html>