@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
    --bgColor:#060d17;
    --searchBgColor:#10161d;
    --bgCardColor:#383d47;
    --listItemsColor:#979999;
    --heading:'Nunito', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
}

body{
    background-color: var(--bgColor);
}

/* NAVIGATION BAR STARTS HERE */

.navbar{
    overflow: hidden;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: var(--bgColor);
    display: flex;
    align-items: center;
    height: 3.5rem;
    z-index: 9999;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 4rem;
}

.logo:hover{
    cursor: pointer;
}

.logo-icon{
    width: 2rem;
}

.logo-title{
    color: #edc225;
}

.navbar-list{
    display: flex;
}

.list-items{
    list-style: none;
    font-size: 1rem;
}

.list-items a{
    text-decoration: none;
    margin-left: 2rem;
    font-family: var(--heading);
    color: var(--listItemsColor);

}

.list-items a:hover{
    color: white;
}

.search-bar{
    margin-left: 4.5rem;
    display: flex;
    width: 55rem;
    justify-content:flex-start;
    align-items: center;
}

.search-bar input{
    background: url("../images/SearchIcon.png") no-repeat 1.5% center ;
    padding-left: 3rem;
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 7px;
    background-color: var(--searchBgColor);
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.signin-btn{
    height: 2rem;
    width: 4.5rem;
    background-color: #1c252f;
    border: none;
    border-radius: 3.5px;
    margin-left: 2rem;    
    font-family: 'Nunito', sans-serif;
    font-size: 0.85rem;
}

.signin-btn:hover{
    background-color:var(--bgCardColor) ;
    cursor:pointer;
}

.favourites-btn{
    height: 2rem;
    width: 5.2rem;
    background-color: #1c252f;
    border: none;
    border-radius: 3.5px;
    margin-left: 2rem;    
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    /* font-weight: 700; */

}

.favourites-btn:hover{
    background-color:var(--bgCardColor) ;
    cursor:pointer;
}

.menu-logo{
    margin-left: 2rem;
}

.menu-logo:hover{
    cursor: pointer;
}

.menu-info-container{
    background-color: #0000007a;
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;

}

.menu-info{
    background-color: var(--searchBgColor);
    position: absolute;
    right: 0;
    top: 2rem;
    border-radius: 5px;
}

.menu-list{
    list-style: none;
    font-size: 1.5rem;
}

.menu-list-items{
    display: flex;
    align-items: center;
    height: 3.5rem;
    width: 15rem;
    padding-left: 0.8rem;
}

.menu-list-items:hover{
    background-color: #383d47;
}

.menu-list-items:nth-child(1){
    margin-top:1rem
}

.menu-list-items:nth-child(4){
    margin-bottom: 1rem;
}

.menu-list-items a{
    width: 100%;
    text-decoration: none;
    color: var(--listItemsColor);
}

.menu-list-items a:hover{
    color: white;
}

/* NAVIGATION BAR ENDS HERE */

/* TOP SIDERS START HERE */

.calender{
    margin-top: 4rem;
    display: flex;
}

.calender>:first-child {
    font-family: var(--heading);
    font-size: 2.5rem;
    font-weight: 800;
    margin-left: 4rem;
}

.calender-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    font-weight: 800;
}

.month {
    background-color: rgb(247, 93, 93);
    width: 2.5rem;
    font-size: 0.8rem;
    text-align: center;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
}

.date{
    background-color: white;
    width: 2.5rem;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.date span{
    color: black;
}

.trending-movies-container{
    display: flex;
    margin-top: 3rem;
}

.going-viral-container{
    width: 43vw;
    margin-left: 4rem;
    display: flex;
    overflow: hidden;
    position: relative;
}

#prev-going-viral-card{
    position: absolute;
    background-color: var(--bgColor);
    height:12rem ;
    left: 0px;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 2.5rem;
    z-index: 999;
}

#next-going-viral-card{
    position: absolute;
    background-color: var(--bgColor);
    height:12rem ;
    right: 0px;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 2.5rem;
    z-index: 999;
}

.going-viral-card{
    margin-right: 2rem;
    border-radius: 12px;
    height: 12rem;
    width: 30vw;
    background-color: var(--searchBgColor);
    display: flex;
    position: relative;
    right: 0rem;
    transition: all 1s;
}

.going-viral-card img{
    height: 12rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.going-viral-card-info{
    display: flex;
    flex-direction: column;
    margin-left: 1.3rem;
    width: 15.5rem;
}

.release-info{
    color: var(--listItemsColor);
    margin-top: 0.8rem;
    font-weight: 500;
}

.title-info{
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 2.5rem;
}

.season-info{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--listItemsColor);
    margin-top: 0.5rem;
}

.watch-btn-info{
    background-color: var(--listItemsColor);
    height: 2.5rem;
    margin-top: 2.5rem;
    font-size: 1.2rem;
    width: 14rem;
    font-weight: 600;
}

.going-viral-show-container{
    width: 43vw;
    margin-left: 4rem;
    display: flex;
    overflow: hidden;
    position: relative;
}

#prev-going-viral-show-card{
    position: absolute;
    background-color: var(--bgColor);
    height:12rem ;
    left: 0px;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 2.5rem;
    z-index: 999;
}

#next-going-viral-show-card{
    position: absolute;
    background-color: var(--bgColor);
    height:12rem ;
    right: 0px;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 2.5rem;
    z-index: 999;
}

.going-viral-show-card{
    margin-right: 2rem;
    border-radius: 12px;
    height: 12rem;
    width: 30vw;
    background-color: var(--searchBgColor);
    display: flex;
    position: relative;
    right: 0rem;
    transition: all 1s;
}

.going-viral-show-card img{
    height: 12rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.going-viral-show-card-info{
    display: flex;
    flex-direction: column;
    margin-left: 1.3rem;
    width: 15.5rem;
}

/* TOP SIDERS START HERE */

/* TRENDING TODAY STARTS HERE */

.trending-today-container{
    width: 87rem;
    margin: 2rem auto 0;
}

.trending-today-heading{
    font-size: 2rem;
    font-weight: 800;
}

.trending-today{
    margin-top: 1rem;
    display: flex;
    margin-left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#prev-trending-today-card{
    position: absolute;
    background-color: var(--bgColor);
    height:12rem ;
    left: 0px;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 2.5rem;
    z-index: 999;
}

#next-trending-today-card{
    position: absolute;
    background-color: var(--bgColor);
    height:12rem ;
    right: 0px;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 2.5rem;
    z-index: 999;
}

.trending-today-card{
    margin-right: 2rem;
    border-radius: 12px;
    height: 12rem;
    background-color: var(--searchBgColor);
    display: flex;
    position: relative;
    right: 0rem;
    transition: all 1s;
}

.trending-today-card-info{
    display: flex;
    flex-direction: column;
    margin-left: 1.3rem;
    width: 18.37rem;
}

/* TRENDING TODAY ENDS HERE */

/* GENRE TITLES STARTS HERE */

.genre-container{
    width: 91.5%;
    overflow: hidden;
    margin: 2rem auto 0;
}

.genre-title{
    font-size: 2rem;
    font-weight: 800;
}

.genre-poster-container{
    position: relative;
    margin-top: 1rem;
    display: flex;
}

.genre-poster{
    display: flex;
    align-items: flex-end;
}

.ranking{
    z-index: -1;
}

.ranking span{
    display: inline-block;
    height: 12rem;
    font-size: 11rem;
    color: var(--bgCardColor);
}

.genre-poster-img{
    margin-right: 2rem;
}

.genre-poster-img img{
    width: 11rem;
    position: relative;
    right: 1.2rem;
}

.genre-1-poster{
    position: relative;
    right: 0rem;
    transition: all 1s;
}

#next-genre-1-card{
    position: absolute;
    background-color: var(--bgColor);
    height:100%;
    right: 0px;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 2.5rem;
    z-index: 999;
}

#prev-genre-1-card{
    position: absolute;
    background-color: var(--bgColor);
    height:100%;
    left: 0px;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 2.5rem;
    z-index: 999;
}

#next-genre-2-card{
    position: absolute;
    background-color: var(--bgColor);
    height:100%;
    right: 0px;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 2.5rem;
    z-index: 999;
}

#prev-genre-2-card{
    position: absolute;
    background-color: var(--bgColor);
    height:100%;
    left: 0px;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 2.5rem;
    z-index: 999;
}

.genre-2-poster{
    position: relative;
    right: 0rem;
    transition: all 1s;
}

/* GENRE TITLES ENDS HERE */

/* HELLO GREETINGS STARTS HERE */

.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.hello-img{
    font-size: 5rem;
}

.hello-title{
    font-family: var(--heading);
    font-size: 2rem;
}

/* HELLO GREETINGS ENDS HERE */

/* FOOTER */

.footer-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer-contact a{
    text-decoration: none;
}

.footer-contact a:hover{
    color: aqua;
}