<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmLand</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="images/FilmLandLogo.png" alt="logo" class="logo-icon">
            <span class="logo-title">FilmLand</span>
        </div>
        <ul class="navbar-list">
            <li class="list-items"><a href="/">Home</a></li>
            <li class="list-items"><a href="#">New</a></li>
            <li class="list-items"><a href="#">Popular</a></li>
        </ul>
        <form class="search-bar">
            <input type="text" placeholder="Search for movies or TV shows">
        </form>
        <form>
            <button type="submit" class="signin-btn">Sign In</button>
        </form>
        <div class="menu-logo" id="menu-logo-id">
            <img src="images/MenuIcon.png" alt="menu logo" class="menu-logo-icon">
        </div>
        <div class="menu-info" id="menu-info-id">
            <ul class="menu-list">
                <li class="menu-list-items"><a href="#">About us</a></li>
                <li class="menu-list-items"><a href="#">FAQ</a></li>
                <li class="menu-list-items"><a href="#">Privacy Policy</a></li>
                <li class="menu-list-items"><a href="#">Terms of Use</a></li>
            </ul>
        </div>
    </nav>

    <script src="script/script.js"></script>
</body>
</html>