<%- include("partials/header") -%>

    <div class="calender">
        <span>Discover Daily</span>
        <div class="calender-logo">
            <div class="month"><span></span></div>
            <div class="date"><span></span></div>
        </div>
    </div>
    <div class="trending-movies-container">
        <div class="going-viral-container">
            <div id="prev-going-viral-card"><</div>
            <div id="next-going-viral-card">></div>
            <% popularMovies.forEach(movie=>{ %>
                <div class="going-viral-card">
                    <% const img="https://image.tmdb.org/t/p/original"+movie.poster_path; %> 
                    <img src=<%= img %> alt="poster">
                    <div class="going-viral-card-info">
                        <span class="release-info">2023.43min</span>
                        <span class="title-info"><%= movie.original_title.substr(0,18) %>...</span>
                        <button class="watch-btn-info">
                            Watch Now
                        </button>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <%- include("partials/footer") -%>