<%- include("partials/header") -%>

    <div class="calender">
        <span>Discover Daily</span>
        <div class="calender-logo">
            <div class="month"><span></span></div>
            <div class="date"><span></span></div>
        </div>
    </div>

<%- include("partials/footer") -%>