<%- include("partials/header") -%>

    <div class="background-img-container">
        <img src="https://image.tmdb.org/t/p/original/bvCEEs5l3ylNIgH4foqOmQk0qdi.jpg" alt="Background Poster">
    </div>

    <div class="movie-info-container">
        <div class="short-movie-info">
            <div class="movie-info-poster">
                <img src="https://image.tmdb.org/t/p/original/bvCEEs5l3ylNIgH4foqOmQk0qdi.jpg" alt="Poster">
            </div>
            <div class="horizontal-row"></div>
            <div class="general-info">
                <div class="info-heading">
                    <span>POPULARITY</span>
                    <span>GENRES</span>
                    <span>RUNTIME</span>
                    <span>TAGLINE</span>
                </div>
                <div class="info-details">
                    <span>29.285</span>
                    <span>Drama, Comedy</span>
                    <span>170 mins</span>
                    <span>Aal Izz Well!</span>
                </div>
            </div>
        </div>


        <div class="detailed-movie-info">
            <div class="movie-title">
                Jack Reacher <span>(2023)</span>
            </div>

            <div class="trailer">
                Watch Trailer Now:
                <iframe width="660" height="415" src="https://www.youtube.com/embed/uxqnWOeu-2g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="synopsis">
                <span class="synopsis-title">
                    Synopsis
                </span>

                <span class="synopsis-info">
                    Rascal. Joker. Dreamer. Genius... You've never met a college student quite like "Rancho." From the moment he arrives at India's most prestigious university, Rancho's outlandish schemes turn the campus upside down—along with the lives of his two newfound best friends. Together, they make life miserable for "Virus," the school’s uptight and heartless dean. But when Rancho catches the eye of the dean's sexy daughter, Virus sets his sights on flunking out the "3 idiots" once and for all.
                </span>
            </div>

            <div class="recommendation-title">Recommendation based on this Movie:</div>
            <div class="recommendation-container">
                <div id="prev-recommended-card"><</div>
                <div id="next-recommended-card">></div>
                <div class="recommendation-poster">
                    <img src="https://image.tmdb.org/t/p/original/z2x2Y4tncefsIU7h82gmUM5vnBJ.jpg" alt="Poster">
                </div>
                <div class="recommendation-poster">
                    <img src="https://image.tmdb.org/t/p/original/z2x2Y4tncefsIU7h82gmUM5vnBJ.jpg" alt="Poster">
                </div>
                <div class="recommendation-poster">
                    <img src="https://image.tmdb.org/t/p/original/z2x2Y4tncefsIU7h82gmUM5vnBJ.jpg" alt="Poster">
                </div>
                <div class="recommendation-poster">
                    <img src="https://image.tmdb.org/t/p/original/z2x2Y4tncefsIU7h82gmUM5vnBJ.jpg" alt="Poster">
                </div>
                <div class="recommendation-poster">
                    <img src="https://image.tmdb.org/t/p/original/z2x2Y4tncefsIU7h82gmUM5vnBJ.jpg" alt="Poster">
                </div>
                <div class="recommendation-poster">
                    <img src="https://image.tmdb.org/t/p/original/z2x2Y4tncefsIU7h82gmUM5vnBJ.jpg" alt="Poster">
                </div>
                <div class="recommendation-poster">
                    <img src="https://image.tmdb.org/t/p/original/z2x2Y4tncefsIU7h82gmUM5vnBJ.jpg" alt="Poster">
                </div>
                <div class="recommendation-poster">
                    <img src="https://image.tmdb.org/t/p/original/z2x2Y4tncefsIU7h82gmUM5vnBJ.jpg" alt="Poster">
                </div>
                <div class="recommendation-poster">
                    <img src="https://image.tmdb.org/t/p/original/z2x2Y4tncefsIU7h82gmUM5vnBJ.jpg" alt="Poster">
                </div>
                <div class="recommendation-poster">
                    <img src="https://image.tmdb.org/t/p/original/z2x2Y4tncefsIU7h82gmUM5vnBJ.jpg" alt="Poster">
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer") -%>